.body-devise-darktheme {
  background: #242424;
  .new-session-h4 {
    color: white;
  }
}

.devise-container-darktheme {
    min-height: calc(100vh - 90px);
    #country {
      -webkit-appearance: none;
    }
  .content-devise {
    margin-top: 130px;
    margin-bottom: 60px;
    margin-right: 10px;
    margin-left: 10px;
    background: #242424;
    padding: $padding-large;
    border-radius: 1px;
    border: 1px solid $primary-opacified;
    .new-session-h4 {
      text-align: center;
      margin-bottom: 54px;
    }
    .facebook-block {
      text-align: center;
      margin: 20px 0 40px 0;
    }

    .facebook-button, .btn.btn-primary {
      background: white;
      color: #171717;
      border-radius: $project-border-radius;
      border: 3px solid transparent;
      padding: 6px 12px;
      font-weight: 400;
      transition: all ease 0.2s;
    }
    .btn.btn-primary:hover {
      border: 3px solid white;
      box-shadow: 5px 5px 0px $primary;
      background: transparent;
      color: white;
    }
    .facebook-button:hover {
      border: 3px solid white;
      box-shadow: 5px 5px 0px #365899;
      background: transparent;
      color: white;
    }

    .facebook-separator {
      color: white;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 400;
    }
    hr {
      text-align: center;
      border-top: 1px solid #ccc;
      width: 70%;
    }
    .form-control {
      border-radius: 1px;
    }
    label {
      font-weight: 400;
      color: white;
    }
    h2 {
      text-align: center;
      color: white;
    }
    a {
      color: white;
    }
    .help-block {
      font-weight: $font-weight-p;
      font-size: $font-size-p-devise;
    }
    .form-actions {
     text-align: center;
     margin-bottom: 20px;
    }
    .devise-bottom-link {
      font-weight: 300;
      color: white;
    }
    .devise-bottom-link:hover {
      color: #bfbfbf;
    }
    .user_consented {
      a {
        text-decoration: underline;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .devise-container-darktheme .content-devise{
    margin-top: 90px;
  }
}
